<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gcheng.mapper.UserMapper">

    <!-- 根据用户名查询-->
    <select id="findUserByLoginName" parameterType="String" resultType="cn.gcheng.entity.User">
        SELECT * FROM SYS_USER WHERE username = #{username}
    </select>

</mapper>